<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p  %X{dbz.connectorType}|%X{dbz.connectorName}|%X{dbz.taskId}  %m   [%c]%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="io.debezium" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.reflections" level="error" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>
